.git
.github
.idea
.vscode
**/.DS_Store
**/.env
**/.env.*
!docker/.env.prod.example
**/*.local
**/*.log
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/node_modules
**/dist
**/test-results
**/playwright-report
backend/apps/api/data/*.db
apps/api/data/*.db
logs
ssl
